# Dependencias
node_modules/

# Entornos
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Backend
backend/prisma/dev.db
backend/uploads/

# Frontend
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# OS
.DS_Store
Thumbs.db
