# Dependencias
node_modules/

# Entornos
.env
.env.local
.venv

# Bases de datos y archivos locales
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
coverage/
.vite/
*.tsbuildinfo

# Backend
backend/prisma/dev.db
backend/uploads/
uploads/

# Frontend
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.vite/

# OS
.DS_Store
Thumbs.db
